.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Julius Sans One', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.example{
  /* border: 1px solid red; */
  display: flex !important;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
