.BillingBox {
    /* display: flex !important; */
    border: 1px solid black;
    text-align: center;
}



.PurchaseCard {
    border: 1px solid black;
    /* display: flex !important; */
    /* display: inline-block; */
    justify-content: center;
}

Elements{
    border: 1px solid black ;
}

.BillingContainer {
    text-align: left;
}

.BuyButton{
    
    text-align: center;
    
}

button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
}