.login-container{
   display: flex;
}

.col-sm-4{
    display: flex; 
    /* border: 3px solid blue;  */
    justify-content: center;
    margin-top: 245px;
    margin-bottom: 245px;
    /* height: 350px; */
    height: 100%;
    /* background-color: #B4B6BA;
    opacity: 0.5;
    filter: alpha(opacity=50); */
}

.login-mid {
    font-size: 1.5em;
}

Input {
    /* border: 1px solid purple; */
    display: block;
    margin-top: 20px;
    
}

.general-button {
    margin: 10px;
    width: 90%;
    background-color: white;
    color: #77A6F7;
    border: none !important;
}
.general-button:hover {
    background-color: #2F77F3;
    color: white;
}