/* Search Bar Styles */

.searchbar {
    background-color: #77A6F7;
    padding-bottom: 15px;
}
.login {
    display: flex;
    justify-content: flex-end;
}

.signup {
    margin-right: 25px;
    background-color: white;
    border-style: none !important;
    color: #00887A;
    /* text-shadow: 1px 1px 2px #FFCCBC; */
}

.signin {
    background-color: white;
    border-style: none!important;
    color: #00887A;
    /* text-shadow: 1px 1px 2px #FFCCBC; */
}

.searchfields {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dropdown-toggle {
    border-style: none !important;
    background-color: white;
    color: #77A6F7;
}

.dropdowns {
    margin-right: 35px;
    margin-left: 35px;
}

.dropdownsModal {
    margin: 0 10px;
}

.review-link {
    margin-right: 25px;
    background-color: #00887A;
    color: white;
    height: 50px;
    border: none !important;
}
.search {
    background-color: #00887A;
    color: white;
    border: none !important;
}

/* End of Search Bar Styles */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main Content Styles */
.main-content-border {
    /* border: 1px solid black; */
    text-align: left;
    background-color: #D3E3FC;
}

.main-card {
    height: 220px;
    width: 200px;
}

.pop-cars {
    display: flex;
    justify-content: flex-end;
}

/* End of Main Content Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Search Results Styles */
.filter-row {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.filters {
    display: flex;
}

.sort-by {
    display: flex;
}

.review-results {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
}

/* End of Search Results Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */