/* Search Bar Styles */
/* .searchbar {
    background-color: #77A6F7;
} */

.login {
    display: flex;
    justify-content: center;
}

.signup {
    margin-right: 25px;
}

.auto-logo {
    color: white;
    font-size: 3em;
    font-family: 'Julius Sans One', sans-serif;
}

.searchfields {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dropdowns {
    margin-right: 35px;
    margin-left: 35px;
}

.results-searchbar {
    background-color: #77A6F7;
}

.searchbar-buttons {
    /* margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 15px; */
    width: 120px;
    background-color: #2F77F3;
    color: white;
    border: none !important;
    font-size: 1.1em;
    height: 40px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.searchbar-buttons:hover {
    background-color: white;
    color: #2F77F3;
}

/* End of Search Bar Styles */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main Content Styles */

.main-content {
    margin-bottom: 45px;
    text-align: left;
    height: 100%;
}


.header {
    background-color: white;
    color: #2F77F3;
    font-size: 2.2em;
    font-weight: bold;		     
    border-radius: 15px;
    padding-left: 10px;
}		 

.main-card {
    background-color: white;
    color: #2F77F3;
    border: none !important;
    text-align: left;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px;
}
.main-card:hover {
    background-color: #77A6F7;
}
/* End of Main Content Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Search Results Styles */

.search-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: url("../Assets/markus_spiske_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.filter-row {
    display: flex;
    justify-content: space-around;
}

.filters {
    display: flex;
}

.sort-by {
    display: flex;
}

.review-results {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
}

/* End of Search Results Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */