/* Search Bar Styles */

.login {
    display: flex;
    justify-content: flex-end;
}

.signup {
    margin-right: 25px;
}

.searchfields {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dropdowns {
    margin-right: 35px;
    margin-left: 35px;
}

.review {
    margin-right: 25px;
}

/* End of Search Bar Styles */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main Content Styles */
.main-content-border {
    border: 1px solid black;
    text-align: left;
}

.main-card {
    height: 220px;
    width: 200px;
}
/* End of Main Content Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Search Results Styles */
.filter-row {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.filters {
    display: flex;
}

.sort-by {
    display: flex;
}
.review-results {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
}
/* End of Search Results Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
