header {
    color: #fff;
}

.main-navbar {
    /* height: 8vh; */
    background-color: rgb(97, 151, 243); /* lighter shade than originally used */
} 

.main-navbar__title {
    font-size: 1.5rem;
    font-weight: 100;
}

.main-navbar__links {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.navbar-toggler-icon {
    color: #fff !important;
}

@media (max-width: 500px){
    .main-navbar__title {
        font-size: 1rem;
        font-weight: 100;
    }
}