.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    
    justify-content: space-evenly;
    background-color: #2F77F3;
    z-index: 3;
}

.navbar-item {
    color: white;
}

.auto-logo {
    color: white;
    font-size: 3em;
    font-family: 'Julius Sans One', sans-serif;
}
