.searchbar {
    text-align: center;
}

.searchbar--buttons {
    margin-top: 50px !important;
}

.searchbar--links:link,
.searchbar--links:visited,
.searchbar--links:active {
    text-decoration: none;
    color: #fff;
}



@media (min-width: 1201px){
    .searchbar--buttons{
        width: 15%;
    }
}

@media (min-width: 300px){
    .searchbar--buttons {
        width: 40%;
        margin-bottom: 0 !important;
        margin-top: 15px !important;
    }
}

@media (min-width: 400px){
    .searchbar--buttons {
        width: 30%;
    }
}

@media (min-width: 700px){
    .searchbar--buttons {
        width: 20%;
    }
}


@media (min-width: 1200px){
    .searchbar--buttons{
        width: 15%;
    }
}

@media (min-width: 1400px){
    .searchbar--buttons{
        width: 10%;
    }
}




