/* .searchbar-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
};

.searchbar-button-links {
    margin-left: 20;
    margin-right: 20;
};

@media (max-width: 400px) {
    .searchbar-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    };
}

@media (max-width: 500px) {
    .searchbar-buttons-links {
        margin-bottom: 10px;
        margin-left: 10;
        margin-right: 10;
    };
} */

.searchbar-buttons {
    margin-bottom: 10px;
}

@media (min-width: 450px){
    .searchbar-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}