.billing-container {
    width: 100%;
    background-image: url("../Assets/Pok_Rie.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.BillingBox {
    /* display: flex !important; */
    /* border: 5px solid black; */
    text-align: center;

    padding-top: 60px;
    height: 90vh;
    width: 100%;
}

.element {
    color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

/* H3{
    color:black;
    font-weight: bold;
    background-color: blue;
    opacity: 0.4;
} */
.card {
    /* border: 3px solid black; */
    height: 100%;
    opacity: 0.9;
}


.PurchaseCard {
    border: 1px solid black;
    display: flex;
    height: 80%;
    /* display: inline-block; */
    /* justify-content: ; */
    /* margin-left: 5px; */
}

/* Elements {
    border: 1px solid black;
} */

.BillingContainer {
    text-align: left;
}

.BuyButton {

    text-align: center;

}

.button {
    /* display: block !important; */
    /* width: 200px; */
    height: 50px;
    margin-top: 20px;
}

.btn-primary{
    /* background-color: red; */
    /* border: 1px solid red; */
    margin: 20px;

}