.billing-container {
    position: absolute;
    bottom: 0;
    top: 73px;
    width: 100% !important;
}

.element {
    color: white;
}

.card {
    height: 100%;
    opacity: 0.9;
}


.PurchaseCard {
    border: 1px solid black;
    display: flex;
    height: 80%;
}

.BillingContainer {
    text-align: left;
}

.BuyButton {

    text-align: center;

}

.button {
    height: 50px;
    margin-top: 20px;
}

.btn-primary{
    margin: 20px;
}