.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 25px 0px 25px 20px;
  /* border-right: 2px solid #B4B6BA; */
  width: 225px;
  min-width: 225px;
  background-color: #D3E3FC;
  height: 90vh;
}

.headerStyle {
  font-size: 1.2rem;
  cursor: pointer;
}
.headerStyle:hover {
  color: white;
}

.hoverStyle:hover {
  background-color: #D3E3FC;
  border-left: solid #2F77F3;
}