.user-settings-container {
  position: absolute;
  bottom: 0;
  top: 24px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #D3E3FC;
  /* background-image: url("../Assets/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.userinfoContainer {
  width: 75%;
  margin-top: 25px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputBox1 {
  margin-left: 80px;
}

.inputBox2 {
  margin-left: 24px;
}

.inputBox3 {
  margin-left: 18px;
}

.inputBox4 {
  margin-left: 84px;
}

.saveButton {
  background-color: white;
  margin: 40px auto;
}

/* general-button styling in /MainPage/loginregister.css */

