.login-card {
    width: 25%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.login-header{
    display: flex;
    background-color: rgb(119,166,247);
}

.login-form {
    width: 100%;
    margin-bottom: 0;
}

.login-input {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.login-button {
    margin-left: 6%;
}

.login-footer {
    display: flex;
    justify-content: center;
}

.login-footer-text {
    text-align: center;
}

.login-footer-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

@media (max-width: 1200px) {
    .login-card {
        margin-top: 20%;
        width: 40%
    }
}

@media (max-width: 700px){
    .login-card {
        margin-top: 30%;
        width: 60%;
    }
}