/* .modal-button {
    background-color: white;
    color: #2F77F3;
    border: none !important;
    text-align: left;
    height: 100% !important;
    width: 100% !important;
    margin-right: 30px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.modal-button:hover {
    background-color: #77A6F7;
    /* background-color: #B4B6BA; */

/* .modal-header {
    background-color: #77A6F7;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.modal-body {
    text-align: left;
    background-color: white;
    color: #2F77F3;
    font-family: 'Montserrat', sans-serif;
} */

.mrb-container {
    display: flex;
    justify-content: flex-end;
} 

.my-review-buttons {
    background-color: #2f77f3;
    color: white;
    border: none !important;
    margin-top: 5px;
}

.my-review-buttons:hover {
    color: #2f77f3;
    background-color: white;
}
