.review-input {
    width: 100%;
    margin-bottom: 12px;
}

.new-review-footer {
    background-color: #D3E3FC;
}

.drop-zone {
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    background-color:#2F77F3;
    border: none !important;
    color: white;
}

.submit-button:hover {
    background-color: #00887A;
}


@media (max-width: 480px){
    .content-input {
        width: 80%;
        margin-left: 9%
    }
}