.modal-button {
    background-color: white;
    color: #2F77F3;
    border: none !important;
    text-align: left;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.modal-button:hover {
    background-color: #77A6F7;
    /* background-color: #B4B6BA; */
}

.modal-header {
    background-color: #77A6F7;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.modal-body {
    text-align: left;
    background-color: white;
    color: #2F77F3;
    font-family: 'Montserrat', sans-serif;
}