.modal-button {
    background-color: rgba(255,255,255,0.9);
    /* background-color: linear-gradient( rgba(255,255,255,0.9), rgba(211,227,252, 0.9)); */
    color: #2F77F3;
    border: none !important;
    /* display:flex;
    flex-direction: column;
    align-content: center; */
    height: 300px;
    width: 255px;
    margin: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2em; 
    /* display: flex;
    flex-wrap: wrap; */
    /* opacity: 0.8;
    /*  */
    -webkit-transition:  -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out; 
    transition: transform .2s ease-in-out; 
    /*  */
    /* -webkit-transition:-webkit-transform 0.5s ease-in-out;
    -moz-transition:-moz-transform 0.5s ease-in-out;
    transition:transform 0.5s ease-in-out;
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    transform:scale(0.75); */
}

.modal-button:hover {
    /* background-color: #77A6F7; */
    background-color: rgba(119,166,247, 0.8);
    /* background-color: #B4B6BA; */
    /* opacity: .8; */
    /* -webkit-transform:scale(2);
    -moz-transform:scale(2);
    -o-transform:scale(2);
    transform:scale(2); */

    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    transform:scale(1.1);
}

/* .modal-button p {
    display: flex;
    flex-wrap: wrap;
} */

.modal-header {
    background-color: #77A6F7;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.modal-body {
    text-align: left;
    background-color: white;
    color: #2F77F3;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
}