.modal-button {
    background-color: white;
    color: #2F77F3;
    border: none !important;
    text-align: left;
    height: 355px;
    width: 255px;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
}

.modal-button:hover {
    background-color: #77A6F7;
    /* background-color: #B4B6BA; */
}

/* .modal-button p {
    display: flex;
    flex-wrap: wrap;
} */

.modal-header {
    background-color: #77A6F7;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.modal-body {
    text-align: left;
    background-color: white;
    color: #2F77F3;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
}